#leftbox {
    float: left;
    /* background: Red; */
    width: 33.33%;
    height: 20vh;
  }
  
  #middlebox {
    float: left;
    margin-top: 10px;
    /*background: Green; */
    width: 33.33%;
    height: 20vh;
  }
  
  #rightbox {
    float: right;
    /*background: grey;  */
    width: 33.33%;
    height: 20vh;
  }

  #weatherDetails  {
    display: flex;  /* Assuming you want flexbox */
    margin-top: 10%;
    justify-content: center;  /* Center content horizontally */
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;
    color: rgba(87, 77, 51, 1);
  }
  
  #weatherIcons{
 
    position: absolute;
    left: 6%;
    top:-20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #weatherIcons img{
    height: 300px;
    width: auto;
  }
  span{
    display: flex;
    flex-direction:column;
    text-align: center;
    font-weight: 700;
    font-size: 44px;
    line-height: 77px;
    color: rgba(87, 77, 51, 1);
  }