#leftbox {
    float: left;
    background: Red; 
    width: 31.33%;
    height: 12vh;
  }
  
  #middlebox {
    float: left;
    background: Green;
    width: 35.33%;
    height: 12vh;
  }
  
  #rightbox {
    float: right;
    background: grey; 
    width: 33.33%;
    height: 12vh;
  }

  #weatherDetails  {
    display: flex;  /* Assuming you want flexbox */
    margin-top: 10%;
    justify-content: center;  /* Center content horizontally */
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;
    color: rgba(87, 77, 51, 1);
  }
  
  #weatherIcons{
 
    position: absolute;
    left: 6%;
    top:-20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #weatherIcons img{
    height: 300px;
    width: auto;
  }
  #middlebox span:first-child{
    margin-top: 2.5%;
    display: flex;
    flex-direction:column;
    text-align: center;
    font-weight: 700;
    font-size: 44px;
    line-height: 77px;
    color: rgba(87, 77, 51, 1);
  }
