.dailyforecast-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: greenyellow;
    height: 20vh;
    flex-direction: row;
    gap:20px
    
}

.forecast-details {
    width: 100px;
    height: 150px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
  }