.forecast-separator {
  width: 96%;
  height: 1px;
  background-color: black;
  margin: 10px 0;
  opacity: 30%;
}
#HourlyForecastTitle{
    color: rgba(87, 77, 51, 1);
}
.HourlyForecastContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    flex-direction: row;
    gap: 10vh;
    font-size: 18px;
    color: rgba(87, 77, 51, 1);
    top: 10px;
   
  }
